---
import ArticleList from '../../components/article/ArticleList.svelte';
import articles from '../../data/article/articles.json';
import '../../styles/pages/article.css';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/site-static/nattsu_320_320_tt.ico" type="image/x-icon" sizes="any" />
    <link rel="apple-touch-icon" href="/site-static/nattsu_320_320_tt.webp" />
    <title>Article - natʇsu</title>
  </head>
  <body>
    <ArticleList client:only="svelte" articles={articles} />
  </body>
</html>
