---
import ArticleList from '../../components/article/ArticleList.svelte';
import articles from '../../data/article/articles.json';
import '../../styles/pages/article.css';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/nattsu_tt.svg" type="image/svg+xml" sizes="any" />
    <link rel="apple-touch-icon" href="/nattsu_1920_1080.webp" />
    <title>Article - natʇsu</title>
  </head>
  <body>
    <ArticleList client:only="svelte" articles={articles} />
  </body>
</html>
